<form (ngSubmit)="saveSettings()" [formGroup]="form" novalidate>
  <mat-card>
    <!--    HEADER    -->
    <mat-card-header>
      <div class="modal-title-wrapper">
        <mat-icon aria-hidden="false" aria-label="Settings cog icon" fontIcon="settings"/>
        <mat-card-title>Settings</mat-card-title>
      </div>
      <button id="mat-close-button" [disabled]="disableClose" aria-label="Close icon" mat-dialog-close mat-icon-button
              type="button">
        <mat-icon>close</mat-icon>
      </button>
    </mat-card-header>

    <!--    ACCOUNT INFO    -->
    <div class="account-section">
      <span class="account-img">IR</span>
      <div class="account-info-wrapper">
        <span class="account-name">Irconde</span>
        <span class="account-email">irconde@ualr.edu</span>
      </div>
      <button class="auth-button">Sign Out</button>
    </div>

    <!--    CONTENT    -->
    <mat-card-content>
      <!--    REMOTE SERVICE TOGGLE    -->
      <div class="settings-section">
        <div>
          <p class="settings-text">Work Connected to UALR Min.IO Data Store</p>
          <p class="settings-subtext">Choose this option if you want to interact with the UALR Min.IO Data Store
            files.</p>
        </div>
        <mat-slide-toggle formControlName="workingMode"/>
      </div>

      <!--      DIVIDER    -->
      <mat-divider/>

      <!--    FILE SELECTION    -->
      <div class="settings-section section-column">
        <p class="settings-text">File management</p>
        <p class="settings-subtext">Default file management options to streamline file input and output.</p>
      </div>
      <div *ngIf="shouldAllowImageDir" class="settings-section local-dir-section">
        <div class="input-info-wrapper">
          <mat-icon aria-hidden="false" aria-label="Folder icon" fontSet="material-icons-outlined">folder</mat-icon>

          <!--    INPUT    -->
          <div class="input-info">
            <mat-form-field>
              <mat-label>Working Directory</mat-label>
              <input formControlName="selectedImagesDirPath" id="directory-input"
                     matInput placeholder="C:/User/Documents/Important/Images"
                     type="text">
            </mat-form-field>
          </div>
        </div>
        <button (click)="openDirectoryPicker()" color="primary" mat-flat-button type="button">Select Folder</button>
      </div>

      <!--    FILE OUTPUT OPTIONS    -->
      <div class="settings-section outputs-wrapper">
        <div class="input-info-wrapper">
          <mat-icon aria-hidden="false" aria-label="File icon" fontSet="material-icons-outlined">insert_drive_file
          </mat-icon>
          <div class="input-info output">
            <mat-form-field>
              <mat-label>Output File Format</mat-label>
              <mat-select formControlName="fileFormat">
                <mat-option *ngFor="let option of output_options" [value]="option.value">
                  {{ option.viewValue }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
        <div class="input-info-wrapper">
          <mat-icon aria-hidden="false" aria-label="Pencil icon" fontSet="material-icons-outlined">edit
          </mat-icon>
          <div class="input-info output">
            <mat-form-field>
              <mat-label>Annotations Format</mat-label>
              <mat-select formControlName="detectionFormat">
                <mat-option *ngFor="let option of annotation_options" [value]="option.value">
                  {{ option.viewValue }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
        <div class="input-info-wrapper">
          <mat-icon aria-hidden="false" aria-label="Pencil icon" fontIcon="hdr_weak"/>
          <div class="input-info output">
            <mat-form-field>
              <mat-label>Filename Suffix</mat-label>
              <input formControlName="fileNameSuffix" matInput placeholder="Filename Suffix"
                     type="text" value="">
            </mat-form-field>
          </div>
        </div>
      </div>
    </mat-card-content>
    <div class="settings-footer">
      <button color="primary" mat-flat-button
              type="submit">{{ submitting ? "Saving..." : "Save Settings" }}
      </button>
    </div>
  </mat-card>
</form>
