@import 'theme-variables';

.mat-mdc-card {
  width: 100%;
  max-width: 45rem;
  max-height: 45rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #1c1c1c;
  z-index: 1000;
  padding: 1rem;
}

// HEADER
.mat-mdc-card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  width: 100%;
}

.modal-title-wrapper {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  width: 100%;
}

.mat-mdc-card-title {
  font-size: 2rem;
  font-weight: 500;
}

#mat-close-button {
  color: #ffffff;

  &:hover {
    color: $primary-600;
  }
}

// CONTENT
.mat-mdc-card-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
  padding: 1rem 1.5rem;
  overflow-y: auto;
  gap: 1rem;
}

.settings-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  gap: 0.5rem;
}

.outputs-wrapper .input-info-wrapper {
  width: calc(100% / 3);
}


.section-column {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
}

.settings-text {
  font-size: 1.25rem;
  color: #ffffff;
  margin-block: 0.5rem;
}

.settings-subtext {
  font-size: 0.75rem;
  font-weight: 400;
  color: #5d5d5d;
}

#server-info-top {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.input-info-wrapper {
  display: flex;
  align-items: center;
  gap: 0.75rem;

}

.input-info {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  font-size: 1rem;

  span {
    font-size: x-large;
  }
}

#host-input {
  width: 18rem;
}

#port-input {
  width: 10rem;
}


#settings-checkbox-wrapper {
  display: flex;
  height: calc(100%);
  justify-content: flex-end;
  align-items: center;
}

#server-info-bottom {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  padding-block: 1rem;
}

mat-divider {
  width: 100%;
  border-top-color: #5d5d5d;
  opacity: 0.5;
}

mat-form-field {

  mat-label {
    font-size: small;
  }

}

mat-option {
  font-size: small;
}

.output {
  width: calc(100% - 3.2rem);
}

// FOOTER
.settings-footer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  padding: 1rem 1.5rem;
}

.mat-mdc-unelevated-button {
  padding: 1.25rem 1rem;
}

.local-dir-section {
  margin-bottom: 1rem;

  .input-info-wrapper {
    flex: 1;

    .input-info, mat-form-field {
      width: calc(100% - 1rem);
    }
  }
}


