<form (ngSubmit)="saveSettings()" [formGroup]="form" novalidate>
  <mat-card>
    <!--    HEADER    -->
    <mat-card-header>
      <div class="modal-title-wrapper">
        <mat-icon aria-hidden="false" aria-label="Settings cog icon" fontIcon="settings"/>
        <mat-card-title>Settings</mat-card-title>
      </div>
      <button id="mat-close-button" [disabled]="disableClose" aria-label="Close icon" mat-dialog-close mat-icon-button
              type="button">
        <mat-icon>close</mat-icon>
      </button>
    </mat-card-header>

    <!--    ACCOUNT INFO    -->
    <div class="account-section-wrapper">
      <div class="account-section {{user ? 'sign-out' : 'sign-in'}}">
        <ng-container *ngIf="user; else signInButton">
          <div class="account-info-wrapper">
            <span class="account-img">{{ (user.username[0] + user.username[1]).toUpperCase() }}</span>
            <div class="account-info">
              <span class="account-name">{{ user.username }}</span>
              <span class="account-email">{{ user.email }}</span>
            </div>
          </div>
          <button (click)="authService.logout()" type="button" class="auth-button">Sign Out</button>
        </ng-container>
        <ng-template #signInButton>
          <div class="account-info-wrapper">
            <!--            TODO: Find better bird logo-->
            <img ngSrc="assets/MinIO-bird.svg" width="30.7" height="62" alt="MinIO Bird Logo"/>
            <img ngSrc="assets/MinIO_logo.svg" height="24" width="159" alt="MinIo Logo"/>
          </div>
          <button (click)="handleConnectToServerClick()" type="button" class="auth-button">Connect to Server</button>
        </ng-template>
      </div>
    </div>

    <!--    CONTENT    -->
    <mat-card-content>

      <!--      DIVIDER    -->
      <mat-divider/>

      <!--    FILE SELECTION    -->
      <div class="settings-section section-column">
        <p class="settings-text">File management</p>
        <p class="settings-subtext">Default file management options to streamline file input and output.</p>
      </div>
      <div *ngIf="shouldAllowImageDir" class="settings-section local-dir-section">
        <div class="input-info-wrapper">
          <mat-icon aria-hidden="false" aria-label="Folder icon" fontSet="material-icons-outlined">folder</mat-icon>

          <!--    INPUT    -->
          <div class="input-info">
            <mat-form-field>
              <mat-label>Working Directory</mat-label>
              <input formControlName="selectedImagesDirPath" id="directory-input"
                     matInput placeholder="C:/User/Documents/Important/Images"
                     type="text">
            </mat-form-field>
          </div>
        </div>
        <button (click)="openDirectoryPicker()" color="primary" mat-flat-button type="button">Select Folder</button>
      </div>

      <!--    FILE OUTPUT OPTIONS    -->
      <div class="settings-section outputs-wrapper">
        <div class="input-info-wrapper">
          <mat-icon aria-hidden="false" aria-label="File icon" fontSet="material-icons-outlined">insert_drive_file
          </mat-icon>
          <div class="input-info output">
            <mat-form-field>
              <mat-label>Output File Format</mat-label>
              <mat-select formControlName="fileFormat">
                <mat-option *ngFor="let option of output_options" [value]="option.value">
                  {{ option.viewValue }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
        <div class="input-info-wrapper">
          <mat-icon aria-hidden="false" aria-label="Pencil icon" fontSet="material-icons-outlined">edit
          </mat-icon>
          <div class="input-info output">
            <mat-form-field>
              <mat-label>Annotations Format</mat-label>
              <mat-select formControlName="detectionFormat">
                <mat-option *ngFor="let option of annotation_options" [value]="option.value">
                  {{ option.viewValue }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
        <div class="input-info-wrapper">
          <mat-icon aria-hidden="false" aria-label="Pencil icon" fontIcon="hdr_weak"/>
          <div class="input-info output">
            <mat-form-field>
              <mat-label>Filename Suffix</mat-label>
              <input formControlName="fileNameSuffix" matInput placeholder="Filename Suffix"
                     type="text" value="">
            </mat-form-field>
          </div>
        </div>
      </div>
    </mat-card-content>
    <div class="settings-footer">
      <button color="primary" mat-flat-button
              type="submit">{{ submitting ? "Saving..." : "Save Settings" }}
      </button>
    </div>
  </mat-card>
</form>
