.viewportElement {
  width: 512px;
  height: 512px;
  background: white;
}

.viewportElement canvas {
  width: 100%;
  height: 100%;
  border: 5px solid blue;
}

.controlButtons {
  display: flex;
  gap: 1rem;
  justify-content: center;

  button {
    padding: 0.5rem 1rem;
    border-radius: 3px;
  }
}


