.viewports {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 90%;
}

.viewportElement {
  width: 50%;
  height: 100%;
}

.viewportElement canvas {
  width: 100%;
  height: 100%;
}

.viewportElement.hidden {
  display: none;
}

.controlButtons {
  display: flex;
  gap: 1rem;
  justify-content: center;

  button {
    padding: 0.5rem 1rem;
    border-radius: 3px;
  }
}


