<div class="detection-context-menu">
  <div class="flex-container">
    <div class="main-widget">
      <button (click)="handleMenuItemClick('LABEL')" aria-label="Label Edition Icon"
              type="button">
        <img alt="text icon" src="assets/text.icon.svg"/>
      </button>
      <button (click)="handleMenuItemClick('COLOR')" aria-label="Color Edition Icon"
              type="button">
        <img alt="rectangle icon" src="assets/rectangle.svg"/>
      </button>
      <button (click)="handleMenuItemClick('BOUNDING')"
              aria-label="Bounding Box Edition Icon"
              type="button">
        <img alt="rectangle icon" src="assets/rectangle.svg"/>
      </button>
      <button (click)="handleMenuItemClick('POLYGON')"
              aria-label="Polygon Mask Edition Icon"
              type="button">
        <img alt="polygon icon" src="assets/polygon.svg"/>
      </button>
      <button (click)="handleMenuItemClick('MOVE')" aria-label="Move Icon"
              type="button">
        <img alt="movement icon" src="assets/movement.icon.svg"/>
      </button>
      <button (click)="handleMenuItemClick('DELETE')" aria-label="Delete Icon"
              type="button">
        <img alt="delete icon" src="assets/delete.icon.svg"/>
      </button>
    </div>
  </div>
</div>
