<div class="detection-context-menu" *ngIf="visible"
     [ngStyle]="{'left': (position?.x || 0) + 'px', 'top': 'calc(' + (position?.y || 0) + 'px + 3.375rem)'}">
  <div class="flex-container">
    <div class="main-widget">
      <button (click)="handleMenuItemClick(EditionMode.Label)"
              aria-label="Label Edition Icon"
              type="button"
              class="context-menu-button"
              id="label-edit-button">
        <app-label-svg/>
      </button>
      <button (click)="handleMenuItemClick(EditionMode.Color)"
              aria-label="Color Edition Icon"
              type="button"
              class="context-menu-button"
              id="color-edit-button">
        <app-color-svg [color]="detectionColor"/>
      </button>
      <button (click)="handleMenuItemClick(EditionMode.Bounding)"
              aria-label="Bounding Box Edition Icon"
              type="button"
              class="context-menu-button">
        <app-rectangle-svg/>
      </button>
      <button *ngIf="showPolygonIcon" (click)="handleMenuItemClick(EditionMode.Polygon)"
              aria-label="Polygon Mask Edition Icon"
              type="button"
              class="context-menu-button">
        <app-polygon-svg/>
      </button>
      <button (click)="handleMenuItemClick(EditionMode.Move)" aria-label="Move Icon"
              type="button"
              class="context-menu-button">
        <app-movement-svg/>
      </button>

    </div>
    <button class="delete-button context-menu-button" (click)="handleMenuItemClick(EditionMode.Delete)"
            aria-label="Delete Icon"
            type="button">
      <app-delete-svg/>
    </button>
  </div>
</div>
