
.detection-context-menu {
  position: absolute;
  z-index: 100;
  align-items: center;
  justify-content: center;
  $background-color: #dadada;
  $height: 30px;
  transform: translateX(-42%);

  .flex-container {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    height: 100%;
  }

  .main-widget {
    background: $background-color;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 40px;
    overflow: hidden;
    box-shadow: 5px 5px 15px 2px rgba(0, 0, 0, 0.41);
    padding: 0.3rem 0.25rem 0.2rem;

  }

  .context-menu-button {
    margin: 0 0.65rem 0 0;
  }

  #label-edit-button {
    margin-left: 0.65rem;
  }

  button {
    background: none;
  }

  .delete-button {
    background: $background-color;
    border-radius: 50%;
    padding: 0.25rem;
    aspect-ratio: 1;
  }


}






