<div id="color-picker-container"
     [ngStyle]="{'top': position!.y + 'px', 'left': position!.x + 'px'}"
     *ngIf="isShown">
  <!--  Option for needing arrow to appear on top-->
  <!--  <div id="color-picker-arrow-up"></div>-->

  <div class="color-picker">
    <!-- Top Row - 7 square swatches with various colors -->
    <div class="row">
      <div class="swatch" *ngFor="let color of topRowColors" [style.background]="color"
           (click)="handleChange($event)"></div>
    </div>
    
    <!-- Bottom Row - 3 swatches aligned with top row and a hex color input -->
    <div class="row">
      <div class="swatch" *ngFor="let color of bottomRowColors" [style.background]="color"
           (click)="handleChange($event)"></div>
      <div id="color-input-container">
        <div id="hex-color-prefix">#</div>
        <input
          type="text"
          [(ngModel)]="selectedColor"
          (keydown)="onKeyDown($event.key)"
          placeholder="Enter hex color"/>
      </div>
    </div>
  </div>
  <div id="color-picker-arrow-down"></div>
</div>

