<div style="display: none">
  <div class="modal-card">
    <div>
      <div>icon</div>
      <h2>Modal Title</h2>
      <button class="close-modal">X</button>
    </div>
    <div class="modal-content">
      <div id="settings-section-1">
        <div>
          <p>Work Connected to a Remote Service</p>
          <p>Choose this option if you want to receive/send images from/to a server.</p>
        </div>
        <button>toggle button</button>
      </div>
      <div id="settings-section-2">
        <div id="host-info">
          <div>icon</div>
          <div class="inputs">
            <div>input 1</div>
            <div>:</div>
            <div>input 2</div>
          </div>
          <button>Autoconnect</button>
        </div>
        <button>
          Check Connection
        </button>
      </div>
      <div id="settings-section-3">
        <div>
          ______________________________________________________
        </div>
      </div>
      <div id="settings-section-4">
        <p>
          File management
        </p>
        <p>
          Default file management options to streamline file input and output.
        </p>
      </div>
      <div id="settings-section-5">
        <div>
          <div>icon</div>
          <div>Working directory input</div>
          <button>Select FOlder</button>
        </div>
        <div>
          <div>
            <div>icon</div>
            <div>Output file format</div>
          </div>
          <div>
            <div>icon</div>
            <div>Annotations format</div>
          </div>
          <div>
            <div>icon</div>
            <div>Filename suffix</div>
          </div>
        </div>
      </div>
    </div>
    <div>Save Settings</div>
  </div>
</div>
<!---------------DELETE ABOVE----------------->
<!-------------------------------------------->


<div class="modal-wrapper">
  <mat-card>
    <mat-card-header>
      <div class="modal-title-wrapper">
        <mat-icon aria-hidden="false" aria-label="Settings cog icon" fontIcon="settings"/>
        <mat-card-title>Settings</mat-card-title>
      </div>
      <button mat-icon-button color="primary" aria-label="Example icon button with a home icon">
        <mat-icon>close</mat-icon>
      </button>
    </mat-card-header>
    <mat-card-content>
      <div style="margin-top: 0" class="settings-section">
        <div>
          <p class="settings-text">Work Connected to a Remote Service</p>
          <p class="settings-subtext">Choose this option if you want to receive/send images from/to a server.</p>
        </div>
        <mat-slide-toggle [(ngModel)]="isChecked"/>
      </div>
      <div class="settings-section" style="flex-direction: column">
        <div id="server-info-top">
          <div id="server-info-wrapper">
            <mat-icon aria-hidden="false" aria-label="Cloud icon" fontIcon="cloud"/>
            <div id="server-info">
              <input matInput placeholder="Host" type="text" value="">
              <span>:</span>
              <input matInput placeholder="Port" type="text" value="">
            </div>
          </div>
          <div id="settings-checkbox-wrapper">
            <mat-checkbox>Autoconnect</mat-checkbox>
          </div>
        </div>
        <div id="server-info-bottom">
          <button mat-flat-button color="primary">Check Connection</button>
        </div>
      </div>
    </mat-card-content>
    <div class="settings-footer">
      <button mat-flat-button color="primary">Save Settings</button>
    </div>
  </mat-card>
</div>
