<form (ngSubmit)="saveSettings()" [formGroup]="form" novalidate>
  <mat-card>
    <!--    HEADER    -->
    <mat-card-header>
      <div class="modal-title-wrapper">
        <mat-icon aria-hidden="false" aria-label="Settings cog icon" fontIcon="settings"/>
        <mat-card-title>Settings</mat-card-title>
      </div>
      <button aria-label="Close icon" color="primary" mat-dialog-close mat-icon-button type="button">
        <mat-icon>close</mat-icon>
      </button>
    </mat-card-header>

    <!--    CONTENT    -->
    <mat-card-content>
      <!--    REMOTE SERVICE TOGGLE    -->
      <div class="settings-section">
        <div>
          <p class="settings-text">Work Connected to a Remote Service</p>
          <p class="settings-subtext">Choose this option if you want to receive/send images from/to a
            server.</p>
        </div>
        <mat-slide-toggle formControlName="workingMode"/>
      </div>

      <!--    HOST AND PORT INFO    -->
      <div class="settings-section section-column">

        <!--    SERVER INFO TOP    -->
        <div id="server-info-top">
          <div class="input-info-wrapper">
            <mat-icon aria-hidden="false" aria-label="Cloud icon" fontIcon="cloud"/>

            <!--    INPUTS    -->
            <div class="input-info">
              <mat-form-field>
                <mat-label>Host</mat-label>
                <input formControlName="remoteIp" matInput placeholder="Ex. 127.0.0.1" type="text">
              </mat-form-field>
              <span>:</span>
              <mat-form-field>
                <mat-label>Port</mat-label>
                <input formControlName="remotePort" matInput placeholder="Ex. 5500" type="text">
              </mat-form-field>
            </div>
          </div>
          <div id="settings-checkbox-wrapper">
            <mat-checkbox formControlName="autoConnect">
              Autoconnect
            </mat-checkbox>
          </div>
        </div>

        <!--    SERVER INFO BOTTOM    -->
        <div id="server-info-bottom">
          <button (click)="checkConnection()" color="primary" mat-flat-button type="button">Check
            Connection
          </button>
        </div>
      </div>

      <!--      DIVIDER    -->
      <mat-divider/>

      <!--    FILE SELECTION    -->
      <div class="settings-section section-column">
        <p class="settings-text">File management</p>
        <p class="settings-subtext">Default file management options to streamline file input and output.</p>
      </div>
      <div class="settings-section">
        <div class="input-info-wrapper">
          <mat-icon aria-hidden="false" aria-label="Folder icon" fontIcon="folder"/>

          <!--    INPUT    -->
          <div class="input-info">
            <mat-form-field>
              <mat-label>Working Directory</mat-label>
              <input formControlName="selectedImagesDirPath" id="directory-input"
                     matInput placeholder="C:/User/Documents/Important/Images"
                     type="text">
            </mat-form-field>
          </div>
        </div>
        <button (click)="openDirectoryPicker()" color="primary" mat-flat-button type="button">Select Folder</button>
      </div>

      <!--    FILE OUTPUT OPTIONS    -->
      <div class="settings-section">
        <div class="input-info-wrapper">
          <mat-icon aria-hidden="false" aria-label="File icon" fontIcon="insert_drive_file"/>
          <div class="input-info">
            <mat-form-field>
              <mat-label>Output File Format</mat-label>
              <mat-select formControlName="fileFormat">
                <mat-option *ngFor="let option of output_options" [value]="option.value">
                  {{option.viewValue}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
        <div class="input-info-wrapper">
          <mat-icon aria-hidden="false" aria-label="Pencil icon" fontIcon="edit"/>
          <div class="input-info">
            <mat-form-field>
              <mat-label>Annotations Format</mat-label>
              <mat-select formControlName="detectionFormat">
                <mat-option *ngFor="let option of annotation_options" [value]="option.value">
                  {{option.viewValue}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
        <div class="input-info-wrapper">
          <mat-icon aria-hidden="false" aria-label="Pencil icon" fontIcon="edit"/>
          <div class="input-info">
            <mat-form-field>
              <mat-label>Filename Suffix</mat-label>
              <input formControlName="fileNameSuffix" matInput placeholder="Filename Suffix"
                     type="text" value="">
            </mat-form-field>
          </div>
        </div>
      </div>
    </mat-card-content>
    <div class="settings-footer">
      <button color="primary" mat-flat-button
              type="submit">{{submitting ? "Saving..." : "Save Settings"}}</button>
    </div>
  </mat-card>
</form>
