<div class="input-component-wrapper">
  <div class="input-section">
    <mat-icon class="input-icon">{{ leadingIcon }}</mat-icon>
    <div class="input-wrapper">
      <input [type]="altInlineIcon && hide ? 'password' : 'text'" placeholder="{{ placeholder }}"
             (blur)="validateInput()"/>
      <button type="button" mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
              [attr.aria-pressed]="hide" *ngIf="inlineIcon">
        <mat-icon class="input-inline-icon">{{ hide ? inlineIcon : altInlineIcon }}</mat-icon>
      </button>
    </div>
  </div>
  <span class="input-error" *ngIf="errorMessage">{{ errorMessage }}</span>
</div>


<!--

  TODO:
  - Line up the checkbox with the icons
  - Add error section under the input
  - Make eye icon change color when clicked

-->
