<div class="viewports">
  <div *ngFor="let viewpoint of getImageData();"
       csDirective
       [image]="viewportsData[viewpoint]"
       [viewportName]="viewpoint"
       class="viewportElement {{viewpoint}}"
       [class.hidden]="!viewportsData[viewpoint].imageData"
       [class.annotation]="isAnnotating"
  >
    <canvas class="cornerstone-canvas"></canvas>
  </div>
  <app-detection-toolbox-fab/>
</div>
<ion-item class="controlButtons">
  <button (click)="handleChangeImage(false)">Previous</button>
  <button (click)="handleChangeImage(true)">Next</button>
</ion-item>
