<div class="viewports" [style.width]="isSideMenuOpen ? 'calc(100% - 238px)' : '100%'">
  <div *ngFor="let viewpoint of getImageData();"
       [class.annotation]="isAnnotating"
       [class.hidden]="!viewportsData[viewpoint].imageData"
       [image]="viewportsData[viewpoint]"
       [viewportName]="viewpoint"
       class="viewportElement {{viewpoint}}"
       csDirective
  >
    <canvas class="cornerstone-canvas"></canvas>
  </div>
  <app-algorithm-info/>
  <app-detection-toolbox-fab/>
</div>
<!--<ion-item class="controlButtons">-->
<!--  <button (click)="handleChangeImage(false)">Previous</button>-->
<!--  <button (click)="handleChangeImage(true)">Next</button>-->
<!--</ion-item>-->
