// Define custom color palettes as SASS maps

$primary-50: #e3f2ff
$primary-100: #bdddff
$primary-200: #91c8ff
$primary-300: #64b2ff
$primary-400: #45a1ff
$primary-500: #3290ff
$primary-600: #3881ff
$primary-700: #3a6eea
$primary-800: #29379d
$primary-900: #3939b7


$primary-contrast-50: #000000
$primary-contrast-100: #000000
$primary-contrast-200: #000000
$primary-contrast-300: #ffffff
$primary-contrast-400: #ffffff
$primary-contrast-500: #ffffff
$primary-contrast-600: #ffffff
$primary-contrast-700: #ffffff
$primary-contrast-800: #ffffff
$primary-contrast-900: #ffffff


$accent-50: #e0f5ff
$accent-100: #b0e4ff
$accent-200: #7ad3ff
$accent-300: #3dc2ff
$accent-400: #00b4ff
$accent-500: #00a6fd
$accent-600: #0098ed
$accent-700: #0085d9
$accent-800: #0074c4
$accent-900: #0054a1

$accent-contrast-50: #000000
$accent-contrast-100: #000000
$accent-contrast-200: #000000
$accent-contrast-300: #ffffff
$accent-contrast-400: #ffffff
$accent-contrast-500: #ffffff
$accent-contrast-600: #ffffff
$accent-contrast-700: #ffffff
$accent-contrast-800: #ffffff
$accent-contrast-900: #ffffff
