<svg
  width="31px"
  height="31px"
  viewBox="0 0 31 31"
  version="1.1"
  xmlns="http://www.w3.org/2000/svg">
  <g
    id="bounding-box-annotations"
    stroke="none"
    stroke-width="1"
    fill="none"
    fill-rule="evenodd"
    fill-opacity="0.5">
    <g
      id="bbox-creation-step01"
      transform="translate(-574.000000, -927.000000)"
      class="coloredTag"
      fill="#464646"
      stroke="rgb(128, 128, 128)"
      stroke-width="2">
      <g
        id="Group-2"
        transform="translate(378.000000, 915.000000)">
        <g
          id="Group-4"
          transform="translate(196.000000, 12.000000)">
          <polygon
            id="Path-2"
            transform="translate(15.536975, 15.000000) rotate(-11.000000) translate(-15.536975, -15.000000) "
            points="14.3023525 6.43364061 12.6396597 11.2969901 5 12.9177293 9.65117626 25 24.6662328 23.4702078 26.07395 10.2996793 21.3156685 5"/>
        </g>
      </g>
    </g>
  </g>
</svg>
