@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;400;500&display=swap');

html {
  font-family: 'Noto Sans JP', sans-serif;
  --ion-font-family: 'Noto Sans JP', sans-serif;
  --ion-dynamic-font: 'Noto Sans JP', sans-serif;
  background-color: black;
  overflow: hidden;
}
