<mat-card>
  <mat-tab-group dynamicHeight>
    <mat-tab label="USER LOGIN">
      <form (submit)="handleLogin($event)">
        <div class="form-row">
          <app-input [leadingIcon]="usernameIcon" [placeholder]="usernamePlaceholder"
                     [inlineIcon]="usernameInlineIcon" [altInlineIcon]="usernameAltInlineIcon"
                     [errorMessage]="error"></app-input>
        </div>

        <div class="form-row">
          <app-input [leadingIcon]="passwordIcon" [placeholder]="passwordPlaceholder"
                     [inlineIcon]="passwordInlineIcon" [altInlineIcon]="passwordAltInlineIcon"
                     [errorMessage]="error"></app-input>
        </div>

        <div class="form-row">
          <mat-checkbox>Keep me signed in</mat-checkbox>
        </div>

        <button mat-button class="form-button {{error ? 'form-error' : ''}}">{{
            isLoading ? "SIGNING IN" : error ?
              error :
              "LOG IN"
          }}
        </button>
      </form>
    </mat-tab>
    <mat-tab label="NEW ACCOUNT">
      <form (submit)="handleSignup($event)">
        <div>New Account Page</div>
      </form>
    </mat-tab>
  </mat-tab-group>
</mat-card>
