<mat-card>
  <mat-tab-group dynamicHeight>
    <mat-tab label="USER LOGIN">
      <form (ngSubmit)="handleLogin($event)" [formGroup]="loginForm">
        <div class="form-row">
          <!--          <app-input [leadingIcon]="inputInfo.username.leadingIcon" [placeholder]="inputInfo.username.placeholder"-->
          <!--                     [errorMessage]="loginError" [type]="inputInfo.username.type"-->
          <!--                     (inputValueEvent)="handleInputValidation($event, inputInfo.username.type)"></app-input>-->
          <app-underline-input type="text" leadingIcon="person" placeholder="Username*"
                               [errorMessage]="loginForm.controls.username.errors?.['errorMsg']"
                               formControlName="username"></app-underline-input>
        </div>

        <div class="form-row">
          <app-underline-input type="password" leadingIcon="lock" placeholder="Password*"
                               [errorMessage]="loginForm.controls.password.errors?.['errorMsg']"
                               [inlineIcon]="inputInfo.password.inlineIcon"
                               [altInlineIcon]="inputInfo.password.altInlineIcon"
                               formControlName="password"
          ></app-underline-input>
          <!--                               [errorMessage]="getInputError(loginPassword)"-->
          <!--          <app-input [leadingIcon]="inputInfo.password.leadingIcon" [placeholder]="inputInfo.password.placeholder"-->
          <!--                     [inlineIcon]="inputInfo.password.inlineIcon" [altInlineIcon]="inputInfo.password.altInlineIcon"-->
          <!--                     [errorMessage]="loginError" [type]="inputInfo.password.type"-->
          <!--                     (inputValueEvent)="handleInputValidation($event, inputInfo.password.type)"></app-input>-->
        </div>

        <div class="form-row">
          <mat-checkbox [disabled]="loginDisabled()">Keep me signed in</mat-checkbox>
        </div>

        <ng-container *ngIf="!loginFormError; else errorDiv">
          <button mat-button class="form-button" [class.form-error]="loginFormError"
                  [disabled]="loginDisabled()">
            <ng-container class="submit-button-div" *ngIf="isLoading; else loginText">
              <div class="submit-button-div">
                <span>SIGNING IN</span>
                <img ngSrc="assets/loading-spinner.svg" class="loading-spinner" alt="loading spinner" height="20"
                     width="20">
              </div>
            </ng-container>
            <ng-template #loginText>
              LOG IN
            </ng-template>
          </button>
        </ng-container>
        <ng-template #errorDiv>
          <button mat-button class="form-button" [class.form-error]="loginFormError">
            <div class="submit-button-div">
              <span>LOGIN FAILED</span>
              <mat-icon class="fail-icon" fontSet="material-icons-outlined">error_outline</mat-icon>
            </div>
          </button>
        </ng-template>
      </form>
    </mat-tab>
    <mat-tab label="NEW ACCOUNT">
      <form (submit)="handleSignup($event)">
        <div class="form-row">
          <app-input [leadingIcon]="inputInfo.username.leadingIcon" [placeholder]="inputInfo.username.placeholder"
                     [errorMessage]="signUpError" [type]="inputInfo.username.type"
                     (inputValueEvent)="handleInputValidation($event, inputInfo.username.type)"></app-input>
        </div>

        <div class="form-row">
          <app-input [leadingIcon]="inputInfo.email.leadingIcon" [placeholder]="inputInfo.email.placeholder"
                     [errorMessage]="signUpError" [type]="inputInfo.email.type"
                     (inputValueEvent)="handleInputValidation($event, inputInfo.email.type)"></app-input>
        </div>

        <div class="form-row">
          <app-input [leadingIcon]="inputInfo.password.leadingIcon" [placeholder]="inputInfo.password.placeholder"
                     [inlineIcon]="inputInfo.password.inlineIcon" [altInlineIcon]="inputInfo.password.altInlineIcon"
                     [errorMessage]="signUpError" [type]="inputInfo.password.type"
                     (inputValueEvent)="handleInputValidation($event, inputInfo.password.type)"></app-input>
        </div>
        <ng-container *ngIf="!signUpError; else errorDiv">
          <button mat-button class="form-button" [class.form-error]="signUpError">
            <ng-container class="submit-button-div" *ngIf="isLoading; else createText">
              <div class="submit-button-div">
                <span>CREATING ACCOUNT</span>
                <img ngSrc="assets/loading-spinner.svg" class="loading-spinner" alt="loading spinner" height="20"
                     width="20">
              </div>
            </ng-container>
            <ng-template #createText>
              CREATE ACCOUNT
            </ng-template>
          </button>
        </ng-container>
        <ng-template #errorDiv>
          <button mat-button class="form-button" [class.form-error]="signUpError">
            <div class="submit-button-div">
              <span>CREATION FAILED</span>
              <mat-icon class="fail-icon" fontSet="material-icons-outlined">error_outline</mat-icon>
            </div>
          </button>
        </ng-template>
      </form>
    </mat-tab>
  </mat-tab-group>
</mat-card>
