<mat-card>
  <mat-tab-group dynamicHeight>
    <mat-tab label="USER LOGIN">
      <form (submit)="handleLogin($event)">
        <div class="form-row">
          <app-input [leadingIcon]="inputInfo.username.leadingIcon" [placeholder]="inputInfo.username.placeholder"
                     [errorMessage]="error"></app-input>
        </div>
        <div class="form-row">
          <app-input [leadingIcon]="inputInfo.password.leadingIcon" [placeholder]="inputInfo.password.placeholder"
                     [inlineIcon]="inputInfo.password.inlineIcon" [altInlineIcon]="inputInfo.password.altInlineIcon"
                     [errorMessage]="error"></app-input>
        </div>
        <div class="form-row">
          <mat-checkbox>Keep me signed in</mat-checkbox>
        </div>
        <button mat-button class="form-button {{error ? 'form-error' : ''}}">{{
            isLoading ? "SIGNING IN" : error ?
              error :
              "LOG IN"
          }}
        </button>
      </form>
    </mat-tab>
    <mat-tab label="NEW ACCOUNT">
      <form (submit)="handleSignup($event)">
        <div class="form-row">
          <app-input [leadingIcon]="inputInfo.username.leadingIcon" [placeholder]="inputInfo.username.placeholder"
                     [errorMessage]="error"></app-input>
        </div>

        <div class="form-row">
          <app-input [leadingIcon]="inputInfo.email.leadingIcon" [placeholder]="inputInfo.email.placeholder"
                     [errorMessage]="error"></app-input>
        </div>

        <div class="form-row">
          <app-input [leadingIcon]="inputInfo.password.leadingIcon" [placeholder]="inputInfo.password.placeholder"
                     [inlineIcon]="inputInfo.password.inlineIcon" [altInlineIcon]="inputInfo.password.altInlineIcon"
                     [errorMessage]="error"></app-input>
        </div>
        <button mat-button class="form-button {{error ? 'form-error' : ''}}">{{
            isLoading ? "CREATING ACCOUNT" : error ?
              error :
              "CREATE ACCOUNT"
          }}
        </button>
      </form>
    </mat-tab>
  </mat-tab-group>
</mat-card>
