<div [ngClass]="{ open: isOpen }" class="side-menu">
  <div *ngFor="let groupName of getAlgorithmNames()" class="algorithm-group">
    <div class="algorithm" (click)="handleGroupNameClick(groupName)"
         [ngClass]="{ selected: detectionsGroupMetaData[groupName].selected }">
      <button class="algorithm-chevron" (click)="handleGroupChevronClick($event, groupName)">
        <mat-icon color="white" [style.rotate]="detectionsGroupMetaData[groupName].collapsed ? '180deg' : '270deg'">
          arrow_left
        </mat-icon>
      </button>
      <span class="algorithm-name"
            [ngClass]="{'hidden': !detectionsGroupMetaData[groupName].visible}">{{ groupName }}</span>
      <button class="eye-icon"
              (click)="handleGroupEyeClick($event, groupName)">
        <mat-icon [ngClass]="{'hidden': !detectionsGroupMetaData[groupName].visible}">
          {{ detectionsGroupMetaData[groupName].visible ? 'visibility' : 'visibility_off' }}
        </mat-icon>
      </button>
    </div>
    <ul class="algorithm-detections" *ngIf="!detectionsGroupMetaData[groupName].collapsed">
      <li
        (click)="handleDetectionClick(detection)"
        *ngFor="let detection of detectionsGroups[groupName]"
        [ngClass]="{ selected: detection.selected, hidden: !detection.visible}"
        class="detection"
      >
        <span
          [style.background-color]="detection.color"
          class="detection-color"
        ></span>
        <span>
          {{ detection.className }} - {{ detection.confidence }}%
        </span>
        <button class="eye-icon" (click)="handleDetectionEyeClick($event, detection)">
          <mat-icon>{{ detection.visible ? 'visibility' : 'visibility_off' }}</mat-icon>
        </button>
      </li>
    </ul>
  </div>
  <app-next-button *ngIf="isNextOrSaveBtn"></app-next-button>
  <app-save-button *ngIf="!isNextOrSaveBtn"></app-save-button>
</div>
