<div [ngClass]="{ open: isOpen }" class="side-menu">
  <div *ngFor="let groupName of getAlgorithmNames()" class="algorithm-group">
    <div class="algorithm" (click)="handleGroupNameClick(groupName)"
         [ngClass]="{ selected: detectionsGroupMetaData[groupName].selected }">
      <button (click)="handleGroupChevronClick($event, groupName)">
        <mat-icon color="white" [style.rotate]="detectionsGroupMetaData[groupName].collapsed ? '180deg' : '-90deg'">
          arrow_left
        </mat-icon>
      </button>
      <span>{{ groupName }}</span>
      <button class="eye-icon" (click)="handleGroupEyeClick($event, groupName)">
        <mat-icon>{{detectionsGroupMetaData[groupName].visible ? 'visibility' : 'visibility_off'}}</mat-icon>
      </button>
    </div>
    <ul class="algorithm-detections" *ngIf="!detectionsGroupMetaData[groupName].collapsed">
      <li
        (click)="handleDetectionClick(detection)"
        *ngFor="let detection of detectionsGroups[groupName]"
        [ngClass]="{ selected: detection.selected }"
        class="detection"
      >
        <span
          [style.background-color]="detection.color"
          class="detection-color"
        ></span>
        <span>
          {{ detection.categoryName }} - {{ detection.confidence }}%
        </span>
        <button class="eye-icon" (click)="handleDetectionEyeClick($event, detection)">
          <mat-icon>{{isDetectionVisible(detection, groupName) ? 'visibility' : 'visibility_off'}}</mat-icon>
        </button>
      </li>
    </ul>
  </div>
</div>
