<div class="input-component-wrapper">
  <div class="input-section">
    <mat-icon class="input-icon" [ngClass]="{'form-error': errorMessage}">{{ leadingIcon }}</mat-icon>
    <div class="input-wrapper">
      <input [placeholder]="placeholder" [type]="hide ? type : 'text'"
             [formControl]="formControl" (blur)="formControl.setValue(formControl.value.trim())"
      />
      <button type="button" mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
              [attr.aria-pressed]="hide" *ngIf="inlineIcon">
        <mat-icon class="input-inline-icon">{{ hide ? inlineIcon : altInlineIcon }}</mat-icon>
      </button>
    </div>
  </div>
  <span class="input-error">{{ errorMessage }}</span>
</div>
