<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Pilot GUI
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Pilot GUI</ion-title>
    </ion-toolbar>
  </ion-header>
  <h2>Current directory: {{settings?.selectedImagesDirPath}}</h2>
  <p>Current file name: {{currentFile?.fileName}}</p>
  <p>Number of files: {{currentFile?.filesCount}}</p>
  <ion-button (click)="fileService.handleFileSelection()">INDIVIDUAL FILE</ion-button>
  <button (click)="openSettingsModal()" aria-label="Settings cog icon" color="white" mat-icon-button type="button">
    <mat-icon>settings</mat-icon>
  </button>
  <app-cs-canvas></app-cs-canvas>
</ion-content>
