<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Cornerstone Demo
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Cornerstone Demo</ion-title>
    </ion-toolbar>
  </ion-header>
  <h2>Current directory: {{settings?.selectedImagesDirPath}}</h2>
  <p>Current file name: {{currentFile.fileName}}</p>
  <p>Number of files: {{currentFile.filesCount}}</p>
  <ion-button (click)="handleFileSelection($event)">Upload file</ion-button>
  <div *ngIf="settingsService.isMobile; else htmlFilePicker">
  </div>
  <ng-template #htmlFilePicker>
    <input (change)="handleFileSelection($event)" style="padding: 1rem"
           type="file"/>
  </ng-template>

  <app-cs-canvas></app-cs-canvas>
</ion-content>
