.no-file-sign-wrapper {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: auto;
  opacity: 1;
}

.no-file-sign-text {
  font-weight: 500;
  margin-top: 0rem;
  text-align: center;
  width: 100%;
  font-size: 34pt;
  text-transform: uppercase;
  color: #367fff;
}
