:host {
  display: contents;
}

#edit-label-wrapper {
  position: absolute;
  align-items: center;
  min-width: 182px;
  min-height: 28px;
  z-index: 500;
  background-color: #367FFF;
  display: none;
}

#label-input-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;

}

#label-input {
  font-size: 15px;
  min-height: 26px;
  padding-left: 8px;
  color: white;
  border: none;
  user-select: none;
  width: 100%;
  height: 100%;
  padding-right: 1.5rem;
  box-sizing: border-box;
  margin: 2px 0 2px 2px;
  background-color: #395280;

  &:disabled {
  }

  &:focus {
    border-color: #367FFF;
    outline: 0;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),
    0 0 8px rgba(102, 175, 233, 0.6);
  }

  &::placeholder {
    color: rgba(255, 255, 255, 0.5);
  }
}

#clear-icon-button {
  position: absolute;
  right: 30px;
  display: flex;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.5);
}

#label-clear-icon {
  font-size: 16px;
  line-height: 20px;
}

#arrow-icon-button {
  display: grid;
  place-items: center;
  aspect-ratio: 1 / 1;
  height: 28px;
  cursor: pointer;
  background-color: #367FFF;
}

#label-arrow-icon {

}
