<div id="edit-label-wrapper" style="{{handleLabelEditPosition()}}">
	<div id="label-input-wrapper">
		<input id="label-input"
		       placeholder="UNKNOWN"
		       [(ngModel)]="label"
		       [value]="label.toLowerCase()"
		       (keydown)="submitFromInput($event.key)"
		       [autofocus]="true"/>
		<button id="clear-icon-button" (click)="clearInput()">
			<mat-icon id="label-clear-icon" class="mat-icon material-icons">close</mat-icon>
		</button>
	</div>
	<button id="arrow-icon-button">
		<mat-icon id="list-arrow-icon" class="mat-icon material-icons">expand_more</mat-icon>
	</button>
</div>
