<div id="topBarContent">
	<div id="connection-info">
		<div class="connection">
			<span>// Connected to https://{{settings?.remoteIp}}:{{settings?.remotePort}}</span>
		</div>
		<div class="connection">
			&nbsp; &nbsp;
			<span>Processing {{currentFile?.fileName}}</span>
		</div>
	</div>
	<div>
		<img alt="file queue icon" src="assets/file-queue.icon.svg"/>
		<img alt="traffic icon" src="assets/traffic icons/traffic-no-transmission.icon.svg"/>
		<mat-icon aria-hidden="false" aria-label="Cloud icon"
		          fontSet="material-icons-outlined">{{this.connectionStatus}}</mat-icon>
		<span>|</span>
		<button (click)="openSettingsModal()" aria-label="Settings cog icon" color="white" mat-icon-button
		        type="button">
			<mat-icon>settings</mat-icon>
		</button>
		<button (click)="toggleSideMenu()" aria-label="Side menu toggle icon" color="white" mat-icon-button
		        type="button">
			<img alt="side menu toggle" src="assets/menu-toggle.icon.svg"/>
		</button>
	</div>
</div>
